body {
  height: 100vh;
  background-image: url(../img/pizza-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
   background-attachment: fixed;
}

h1 {
  text-align: center;
  background: linear-gradient(90deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.1));

}

.orderSection {
  padding-top: 20px;
  padding-left: 20px;
  /* background-color: red; */
  background: linear-gradient(90deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.1));
  border-radius: 5%;
}

.btn {
  margin-left: 30px;
}

.confirmationSection {
  background: linear-gradient(90deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.1));
  border-radius: 5%;
  padding-top: 20px;
  display: none;
}

.orderPlaced {
  background: linear-gradient(90deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.1));
  border-radius: 5%;
  padding-top: 20px;
  display: none;
}

.bg-danger {
  /* background-color: #ff6347 ; */
  background: rgb(255,100,70) !important;
  background: linear-gradient(90deg, rgba(255,100,70,0.9) 0%, rgba(255,100,70,0) 100%) !important;

}

.bg-warning {
  /* background-color: #ff6347 ; */
  background: rgb(215,153,20) !important;
  background: linear-gradient(90deg, rgba(215,153,20,0.9) 0%, rgba(215,153,20,0) 100%) !important;
}

.card {
  border-radius: 15%;
}

#placeOrder {
  margin-bottom: 40px;
}
